# Study Notes

## Contents

- 

## Knowledge Points

### <Concept>

#### Course Definition


#### Formula and Notation

\[

\]

- `<symbol>`:

#### Explanation


#### Personalized Clarification


#### Useful Figure


#### Source


## Mistake Review

### <Mistake>

- Previous misunderstanding:
- Why it is wrong:
- Correct understanding:
- Future warning:

